.resume {
	font-family:"Garamond";

}

h2 {
	text-decoration: underline;
}
.header {
	border: solid black 2px;
	text-align:center;
	height:100px;
	width:70%;
	margin:auto;
	padding-bottom:20px;
		display: none;
}
.summary {
	padding:10px;
		display: none;

}
.experience {
	padding:10px;
		display: none;
}
.experience p{
	height:5px;
}
.relevantAssignments {
	padding:10px;
		display: none;
}
.education {
	padding:10px;
		display: none;
}
.title {
	height:5px;
}
.degree {
	height:10px;
	padding-left:30px
}

.date {
	font-size:15px;
	font-style:italic;
	height:5px;
	float:right;
	margin-bottom: 10px;
	top:-16px;
}
table tr td:nth-child(2){
	vertical-align: top;
}
table tr td:nth-child(1){
	vertical-align: bottom;
}

.awardsandinterests{
	display:none;
}
.footer {
	border:solid black 2px;
	width:50%;
	text-align: center;
	margin:auto;
	display:none;
}
.footer ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.footer ul li {
	display: inline;
}
.footer ul li a {
	text-decoration: none;
}

@-webkit-keyframes hello {
	0% {color:black; top:0px;}
	50% {color:red; top:-10px;}
	100% {color:black;top:0px;}
}
#heading2:hover{
	font-style:bold;
	color:#ff0000;
	-webkit-animation: hello 2s linear 0s infinite alternate;
}
