.navbar-default {
  background-color: #f3f3f3;
  border-color: #9d9d9d;
}
.navbar-default .navbar-brand {
  color: #616161;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #7dff7d;
}
.navbar-default .navbar-text {
  color: #616161;
}
.navbar-default .navbar-nav > li > a {
  color: #616161;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #7dff7d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #7dff7d;
  background-color: #9d9d9d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #7dff7d;
  background-color: #9d9d9d;
}
.navbar-default .navbar-toggle {
  border-color: #9d9d9d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #9d9d9d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #616161;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #616161;
}
.navbar-default .navbar-link {
  color: #616161;
}
.navbar-default .navbar-link:hover {
  color: #7dff7d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #616161;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7dff7d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7dff7d;
    background-color: #9d9d9d;
  }
}
.home {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	display:none;
	width:70%;
	margin:auto;
}
.container {
	padding:10px;
}
.home .jumbotron .container img{
	height:200px;
	width:300px;
	float:right;
	display:inline-block;
	position:right;
	margin:10px;
}
.home .col-md-4 {
	text-align: center;
}
.resume {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	display:none;
}
.skills {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	display:none;
}
.projects {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	display:none;
}
.misc {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	display:none;
}
.contact {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	display:none;
	text-align: center;
}
.contact h1{
	margin-top:30vh;
}

body { padding-top: 70px; }

h2 {
	text-decoration: underline;
	font-weight:400;
	font-size:25px;
}
.exp {

	padding-left:15px;
	border:dotted black 1px;
	list-style-type:none;
	width:30%;
}
.edu {
	list-style-type: none;
}
.edu ul li:nth-child(1){
	margin-left:20px;
}
.header {
	border: solid black 2px;
	text-align:center;
	height:120px;
	width:70%;
	margin:auto;
	padding-bottom:20px;
	display: none;
}
.header h1 {
	font-family: 'Muli', sans-serif;
	font-style: italic;
	font-size:45px;

}
.bar {
	width: 50%;
	top:-25px;
	margin-left:auto;
	margin-right:auto;
}
.bar li {
	display: inline;
	text-align:center;
	font-style:italic;
	padding-left:20px;
	padding-right:20px;
}
.summary {
	padding:10px;
		display: none;

}
.experience {
	padding:10px;
		display: none;
}
.experience p{
	height:5px;
}
.relevantAssignments {
	padding:10px;
		display: none;
}
.education {
	padding:10px;
		display: none;
}
/*.title {
	height:5px;
}
.degree {
	height:10px;
	padding-left:30px
}*/

.date {
	font-size:15px;
	font-style:italic;

	float:right;

}
table tr td:nth-child(2){
	vertical-align: top;
}
table tr td:nth-child(1){
	vertical-align: bottom;
}

.awardsandinterests{
	display:none;
}
.footer {
	border:solid black 2px;
	width:50%;
	text-align: center;
	margin:auto;
	display:none;
}
.footer ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.footer ul li {
	display: inline;
}
.footer ul li a {
	text-decoration: none;
}

@-webkit-keyframes hello {
	0% {color:black; top:0px;}
	50% {color:red; top:-10px;}
	100% {color:black;top:0px;}
}
#heading2:hover{
	font-weight:400;
	color:#ff0000;
	-webkit-animation: hello 2s linear 0s infinite alternate;
}
