body {
	display:none;
	padding-bottom:30px;
	background-image:url("/src/paper_fibers.png");
}

.home {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	width:70%;
	margin:auto;
}
.jumbotron {
	background-image:url("/src/beige_paper.png");
}
.home .jumbotron .container img{
	height:200px;
	width:300px;
	float:right;
	display:inline-block;
	position:right;
}

p{
	font-family: 'Lato', sans-serif;
}
.container p{
	font-weight:400;

}
.home .col-md-4 {
	text-align: center;
}
.home .col-md-12{
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:40px;
}

.resume {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	padding-bottom:30px;
}
.skills {
	font-family: 'Roboto Slab', serif;
	font-weight:400;

}
.skills *{
		/*padding-top:70px;*/
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.skills h2{
	padding-left:20px;
	padding-bottom:5px;
}
.atp {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
}
.website {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
}
.watloo {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
}
.rainmeter {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
}
.cat:hover {
	cursor:url("/src/cat.ico"), default;
}
.projects {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	width:70%;
	margin-bottom:40px;
	margin-left:auto;
	margin-right:auto;
}
.misc {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
}
.contact {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
	width:70%;
	margin:auto;
}
.blog {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
}

body { padding-top: 70px; }


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 5px 0;
  text-align: center;
}
.proj {
	padding:10px;
	border:1px solid;
	background-image:url("beige_paper.png");
	border-radius: 4px;
	background-color: #f5f5f5;
	margin: 5px auto 5px auto;
	width:100%;
	list-style-type: none;
	display:inline-block;
	
}
.proj img{
	float:right;
	display:inline-block;
	position:right;
	width:300px;
	height:200px;
}
button a {
	color:black;
	text-decoration: none;
}


.contact {
	margin:auto;
}
.home { 
	padding-bottom:30px;}
