.blog{
	width:70%;
}
.tumblr_post{
}
.tumblr_title {
	font-style: underline;
	font-size:2em;
	text-align: center;
	font-family:"Roboto Slab", serif;
}
.tumblr_body{
	font-size:1em;
}
.tumblr_body img {
	width:70%;
	margin:auto;
}
.read_more_container{
	font-size:1em;
}
ol{
	list-style-type: none;
}
.tumblr_photo{
	margin:auto;
}
.tumblr_caption{
	text-align: center;
}