.blog{
	width:70%;
	margin:auto;
}
.tumblr_post{
	border-bottom:1px dotted black;
}
.tumblr_title {
	font-style: underline;
	font-size:2.2em;
	text-align: center;
	font-family:"Roboto Slab", serif;
	margin:0.5em;
}
.tumblr_body{
	font-size:1em;
}
.tumblr_body img {
	width:70%;
	margin:auto;
}
.read_more_container{
	font-size:1em;
}
.tumblr_posts{
	list-style-type: none;
}
.tumblr_photo_post{
	margin:auto;
}
.tumblr_caption p{
	text-align: center;
}